.dropdown__wrapper {
  position: relative;
  display: block;

  & > button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #1f4e79;
  }

  .dropdown__container {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    padding: 8px;
    max-height: 0px;
    background-color: #fff;
    opacity: 0;
    z-index: 0;
    transition: opacity 100ms ease-in-out, max-height 600ms ease-in-out;

    &.open {
      max-height: 999px;
      opacity: 1;
      z-index: 2;
      transition: opacity 300ms ease-in-out, max-height 600ms ease-in-out;
    }

    a {
      display: block;
      padding: 8px 1rem;
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      color: #1f4e79;

      &:not(:last-of-type) {
        border-bottom: 1px solid #f0f0f0;
      }
    }
  }
}
