:root {
  --header-height: 55px;
}

@media screen and (min-width: 1024px) {
  :root {
    --header-height: 80px;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: url("/public/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 2560px;
  min-height: 100dvh;
  margin: 0 auto;
  color: #000;
  font-family: "Neue Montreal", sans-serif;
  scroll-behavior: smooth;
}
